ToolBar{
    -fx-background-color: linear-gradient(
            #262626,
            #4a4a4a
    );
}

AnchorPane{
    -fx-background-color: #565656;
}

Button{
    -fx-font-family: "ROG Fonts v1.6";
}

Label{
    -fx-font-family: "ROG Fonts v1.6";
}

TextField{
    -fx-background-color: #c1c1c1;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #f1f1f1;
    -fx-font-family: "ROG Fonts v1.6";
    -fx-font-size: 13;
}

PasswordField{
    -fx-background-color: #c1c1c1;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #f1f1f1;
    -fx-font-family: "ROG Fonts v1.6";
    -fx-font-size: 13;
}